/* https://cdn.plyr.io/3.7.8/plyr.css */

@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rubik+Glitch&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Courgette&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Madimi+One&display=swap');

* {
    margin: 0px;
}

:root {
    /* main UI color */
    --plyr-color-main: #b53535eb;
    /* audio controls background */
    --plyr-video-controls-background: rgba(0, 0, 0, 0.70);
    /* audio controls color */
    --plyr-video-control-color: white;

    --plyr-video-control-color-hover: black;

    --plyr-video-progress-buffered-background: silver;

    --plyr-video-range-track-background: #ebdd96;
    
    --plyr-font-family: serif;
    --plyr-font-size-time: 32px;

    --plyr-tooltip-background: #b53535eb;
    --plyr-tooltip-color: black; 

    --plyr-control-icon-size: 32px;
}

h1 {
    text-align: center;
    font-family: "Rubik Glitch", system-ui;
    /* font-size: 62px; */
    font-size: 6em;
    color: black;
    background-color:#a7313b;
    padding: 4px;
}

body {
    background-color: rgb(49, 46, 46);
    margin: 0;
}

div {
    padding-top: 15px;
}

h2 {
    text-align: center;
    margin: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
        padding: 15px;
        background-color: #a7313b;
        border: 5px black;
        border-style: double;
        font-size: 2em;
        /* font-family: "Abril Fatface", serif; */
        font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

p {
margin: 20px;
margin-bottom: 0px;
/* margin-left: 300px;
margin-right: 300px; */
    padding: 15px;
    background-color: #a7313b;
    border: 5px black;
    border-style: double;
    /* font-size: 20px; */
    /* font-family: "Abril Fatface", serif; */
    font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 2em;
 
}

footer {
    margin: 100px;
    margin-top: 0%;
    margin-bottom: 0px;
        padding: 15px;
        background-color: #a7313b;
        border: 5px black;
        border-style: double;
        font-size: 20px;
        /* font-family: "Abril Fatface", serif; */
        font-family: "Libre Baskerville", serif;
  font-weight: 700;
    }

    a:link, 
    a:visited {
      color: #ebdd96; 
    }

a:hover, 
a:active {
  color: black;
}

figcaption {
   font-size: 20px;
    /* font-family: "Abril Fatface", serif; */
    font-family: "Libre Baskerville", serif;
  font-weight: 700;
   }

.bio {
    display: flex;
    justify-content: center;
}


   #cast {
    display: flex;
    justify-content: center;
  }
  
  #cast figure {
    background: #a7313b;
   width: 300px;
    margin: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail {
border: 10px solid #ebdd96;
}  


/* Hide Initial */
.overlay {
    /* hide stuff */
    height: 0;
    min-height: 0;

    opacity: 0;
    transform: scale(0);
  }

  
  .overlay:target {
    opacity: 1;
    
    background: rgba(0, 0, 0, 0.699);
    height: 100vh;
    width: 100vw;
    
        /* stretch overlay to fill entire screen  */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
      /* vertical and center align with Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column;
    
    transform: scale(1);
    transition:
        opacity .5s,
        transform .5s; 
  }